<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <div id="wrapper">  

    <div id="container">
        <div id="test" style="display:none"></div>
		    <div class="highlight">Ok <%= title %>,</div>

		    <div class="module" id="trigger-selection">
          When the <span id="triggers"></span>
        </div>

        <div class="module" id="input-selection">
          first use the 
          <span id="input-type"></span>  
        </div>

        <div class="module" id="query-selection">  
          then decide the answer to the 
          <select id="question-type">
            <option value="">____________</option>
            <option value="sa">short answer</option>
            <option value="tf">true false</option>
            <option value="mc">multiple choice</option>
          </select>
          question: 
          "<input id="question" name="question" value="____________"/>".
          <span class="submodule"><br>(with choices 
          "<input class="mc" type="text" id="choices_0" value="____________"/>", 
          "<input class="mc" type="text" id="choices_1" value="____________"/>",
          or "<input class="mc" type="text" id="choices_2" value="____________"/>")
          </span>
        </div>

        <div class="module" id="action-selection"></div>


        <span id='submit' class='button'>Ok!</span>


    </div><!-- /#container -->
    </div><!-- /#wrapper -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/jquery.form.js"></script>
    <script src="/javascripts/underscore.min.js"></script>
    <script src="/javascripts/main.js"></script>

  </body>
</html>