<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">HCV</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
		    <h1><%= title %></h1>


		    <div class="module" id="trigger-selection">
          When the <span id="triggers"></span>
        </div>

        <div class="module" id="input-selection">
          First
          <span id="input-type"></span>,  
        </div>
        <div class="module" id="query-selection">  
          then ask the
          <select id="question-type">
            <option value=""></option>
            <option value="sa">short answer</option>
            <option value="tf">true false</option>
            <option value="mc">multiple choice</option>
          </select>
          question:
          <textarea id="question" cols="40" rows="1" name="question"></textarea>
          <span class="submodule">with choices 
          <input type="text" id="choices_0"/>, 
          <input type="text" id="choices_1"/>,
          <input type="text" id="choices_2"/>
          </span>
        </div>

        <div class="module" id="action-selection"></div>


        <div id='submit' class='button'>OK!</div>

<!-- 
		    	<div class="submodule category">
			    	<h2>Select the desired trigger category</h2>
			    	<div class='options'>
			        <div class='button'>audio</div>
			        <div class='button'>video</div>
			        <div class='button'>GPIO</div>
			        <div class='button'>date/time</div>
			      </div>
		      </div>

		    	<div class="submodule specific audio">
			    	<h2>Select the desired specific trigger</h2>
			    	<div class='options'>
			        <div class='button'>noise</div>
			        <div class='button'>silence</div>
			    	</div>
		      </div>
	      </div>

		    <div class="module" id="query-selection">
		    	<h2>Input your desired query</h2>
		    	<textarea id="query" cols="40" rows="5" name="query"></textarea>
		    	<div class='options'>
		      </div>
			    <div id='submit' class='button'>OK!</div>
	      </div>

		    <div class="module" id="action-selection">
		    	<h2>Select the desired action(s)</h2>
	        <p class="lead"></p>
	      </div>

        <form method='post' action='/upload' enctype='multipart/form-data'>
          <input type='file' name='image'/>
          <input type='submit' />
        </form> -->



    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/underscore.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>

  </body>
</html>