<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>



    <a href="./" class='button'>n~</a>

    <div id="wrapper">  

    <div id="container">


		    <div  >
		    	accessKeyId: <input id="access_key_id" value="____________" name="access_key_id"></input><br>
          secretAccessKey: <input id="secret_access_key" value="____________" name="secret_access_key"></input><br><br>
			    <div id='login' class='button'>OK!</div>
	      </div>


      </div>

    </div><!-- /.container -->

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/underscore.min.js"></script>
    <script src="/javascripts/main.js"></script>

  </body>
</html>