body {
  padding: 100px 0;
  font: 24px Helvetica, Arial, sans-serif;
}
a {
  color: #FF6889;
}

a, a:hover {
  text-decoration: none;
  color: white;
}

form {
  display: inline;
}

input[name='upload']{
  font-size: 14px;
  padding: 6px;
  vertical-align: top;
  width: 200px;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.module {
  margin: 40px 0;
  display: none;
  width: 100%;
}

.submodule {
	display: none;
}

select, input, textarea {
    padding:0;
    margin: 0;
    color:#53CCFC;
    border:0 !important;
    outline:none !important;
    display: inline-block;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;

	font: 24px Helvetica, Arial, sans-serif;
}


#query-selection,
#action-selection,
#submit {
  display: none;
}
.button {
	background: #99FF33;
	color: white;
	margin: 0 10px 10px 0;
	padding: 10px;
	display: inline-block;
	cursor: pointer;
}

.meta {
  color: #CFCFCF;
}

.button:hover, .button.selected {
	background: white;
  color: #99FF33;
  outline: 2px solid #99FF33;
  padding: 9px;
}

.highlight {
  color: #FF6E43 !important;
}

.task {
	margin: 0 0 20px 0;
}