body {
  padding: 50px;
  font: 24px Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.module {
  margin: 40px 0;
  display: none;
  width: 100%;
}

.submodule {
	display: none;
}

select, input, textarea {
    padding:0;
    margin: 0;
    background: #f8f8f8;
    color:#888;
    border:0 !important;
    outline:none !important;
    display: inline-block;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;

	font: 24px Helvetica, Arial, sans-serif;
}

#query-selection,
#action-selection,
#submit {
  display: none;
}
.button {
	width: 150px;
	height: 75px;
	background: #00FFCC;
	color: white;
	margin: 0 10px 10px 0;
	padding: 10px;
	display: inline-block;
	cursor: pointer;
}

.button:hover, .button.selected {
	background: #99FF33;
}

a, a:hover {
	text-decoration: none;
	color: white;
}

.task {
	margin: 0 0 20px 0;
}