body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.module {
  margin: 40px 0;
  display: none;
  width: 100%;
}

.submodule {
	display: none;
}

#query-selection,
#action-selection {
  display: none;
}
.button {
	width: 150px;
	height: 75px;
	background: #00FFCC;
	color: white;
	margin: 0 10px 10px 0;
	padding: 10px;
	display: inline-block;
	cursor: pointer;
}

.button:hover, .button.selected {
	background: #99FF33;
}

textarea, input {
	margin: 0 10px 10px 0;
	padding: 5px;
	border: none;
	background: #E8E8E8;
}

a, a:hover {
	text-decoration: none;
	color: white;
}

.task {
	margin: 0 0 20px 0;
}